 logo-header {
background-image: https://www.bing.com/images/search?view=detailV2&ccid=beXNOtOL&id=0B110D527A6A03E64490500DCE23085139593C7C&thid=OIP.beXNOtOLWACqNB_jGCZNAwHaH6&mediaurl=https%3a%2f%2fc8.alamy.com%2fcompfr%2f2ata4mt%2flegumes-sur-panier-chariot-epicerie-logo-icone-design-vectoriel-2ata4mt.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.6de5cd3ad38b5800aa341fe318264d03%3frik%3dfDxZOVEII84NUA%26pid%3dImgRaw%26r%3d0&exph=1390&expw=1300&q=logo+%c3%a9picerie&FORM=IRPRST&ck=780DE2E3EEE5F8A74A2F8F0B90573288&selectedIndex=4&itb=0
  ('images/logo.png');
background-repeat: no-repeat;
background-size: contain;
height: 80px;
}
